variant: fcos
version: 1.4.0
storage:
  files:
    - path: /etc/hostname
      mode: 0644
      contents:
        inline: |
          matrix2
    - path: /etc/rpm-ostree-container-rebase.env
      mode: 0644
      contents:
        inline: |
          # This file has envs used by the 'rebase.service' unit when it runs
          IMAGE_URL=ghcr.io/lawrencegripper/homenet-fcos:docker